<?xml version="1.0"?>
<launch>
  <arg name="limited" default="false"  doc="If true, limits joint range [-PI, PI] on all joints." />
  <arg name="paused" default="false" doc="Starts gazebo in paused mode" />
  <arg name="gui" default="true" doc="Starts gazebo gui" />
  <arg name="sim" default="true" />
  <arg name="debug" default="false"/>

  <include file="$(find ur10_python_interface)/launch/controller.launch"/>
  <include file="$(find ur10_python_interface)/launch/ur10_gazebo.launch"/>
  <!--include file="$(find ur10_python_interface)/launch/interface.launch"/-->  

</launch>
